.input:focus {
}

.input {
}

.inputWrapper {
}

.superInput {
    width: 20em;
    background-color: inherit;
    color: deeppink;
    font-size: x-large;
}

.errorInput {
    background-color: red;
    color: blue;
}

.errorInput:focus {
}

.error {
    background-color: #E0D8F0;
}
