.input:focus {
}

.input {
}

.inputWrapper {
}

.superInput {
    background-color: #cc9c00;
    color: deeppink;
}

.errorInput {
    background-color: red;
    color: blue;
}

.errorInput:focus {
}

.error {
    background-color: #E0D8F0;
}
