.buttonsContainer {
    display: flex;
    flex-direction: row;
}

.clock {
    margin-left: 2.5em;
    font-size: x-large;
}

.watch {
}

.watch strong {
}

.more {
}
.stringBlock {
    display: flex;
    flex-direction: row;
    gap: 10em;
    justify-content: flex-start;

}