.select {
    width: 60%;
    background-color: linen;
    font-size: large;
    margin-left: 3em;
}

.select:focus {
    background-color: lightcyan;
}


.option:hover {
    background-color: mediumpurple;
}
