.select {
    width: 171px;
    height: 36px;
    background-color: linen;
    font-size: large;
    margin-left: 3em;
    border-radius: 5px;
}

.select:focus {
    background-color: lightcyan;
}


.option:hover {
    background-color: mediumpurple;
}
